version: '3'

services:
  otrs:
    image: juanluisbaptiste/otrs:latest
    ports:
    - "80:80"
  # If running behind a proxy container, expose the ports instead
  # and link the proxy container to this one.
  #  expose:
  #  - "80"
    links:
    - mariadb:mariadb
    - postfix:postfix
  # You should use env_file: instead of environment: for your environment
  # variables. Look at the README.md file for a list of available variables.
    env_file: otrs-setup.env
    volumes:
      - './volumes/config:/opt/otrs/Kernel'
      - './volumes/backup:/var/otrs/backups'
      - '/etc/localtime:/etc/localtime:ro'
  mariadb:
    image: juanluisbaptiste/otrs-mariadb:latest
    expose:
    - "3306"
    env_file: otrs-setup.env
    volumes:
      - './volumes/mysql:/var/lib/mysql'
      - '/etc/localtime:/etc/localtime:ro'
  postfix:
     image: juanluisbaptiste/postfix:latest
     expose:
     - "25"
     # See juanluisbaptiste/postfix github page for the contents
     # and an explanation of credentials-smtp.
     env_file: credentials-smtp.env
